@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827;
  color: white;
  margin: 0;
  min-height: 100vh;
}

/* Hide TradingView watermark */
.chart-container a[href*="tradingview"] {
  display: none !important;
  visibility: hidden !important;
}